<div class="chat">
	<div class="top">
		<div class = "user-info">
			<div class="avatar">
				<img width="50" height="50" src="">
			</div>
			<div class="info">
				<div class="name"></div>
				<div class="count"></div>
			</div>
		</div>
		
		<div class = "user-actions">
			<a href = "" title="Erase user messages" href="#" class="erase"><i class="fa fa-trash"></i></a>
			<a href = "" target="_blank" class = "trades"><img></a>
			<a href = "" target="_blank" class = "auctions"><img></a>
		</div>

		<div class="search-container">
			<input placeholder="search..." class="search">
			<i class="fa fa-search" aria-hidden="true"></i>
		</div>
	</div>
	<div class="messages"/>   
	<div class="write">
  			<span class="fake-username-placeholder fake">Write to :</span>
  			<input class="fake-username fake"/>
        <div class = "hide bubble me smilies">
        	<div class = "arrow right-arrow"/>
    		<div class = "arrow right-arrow right-arrow-inner"/>
        </div>

		<span class="topic-placeholder">Subject :</span>
		<input class="topic" value="Hi"></input>
		<div class = "actions">
			<div  class="write-link smiley"></div>
	    	<div class="write-link send"></div>
    	</div>

		<textarea placeholder="Write your message"></textarea>
	</div>
</div>