<div class = "configuration">
	<input type="file" style="display: none" accept=".json" />
	<span class = "storage-used"></span> |	
	<div class = "user-actions">
		<a target="#" class="view-changelog"><i class="fa fa-newspaper-o" title="Click to view what's new on current version"></i></a>
		<a target="#" class="import-data"><i class="fa fa-cloud-download" title="Import data"></i></a>
		<a target="#" class="export-data"><i class="fa fa-cloud-upload" title="Export data (useful for multiple computers or to make a backup)"></i></a>
	</div>
</div>